*
!.gitignore
!.current-theme
!Brewfile
!README.md
!bin/
!bin/**
!git/
!git/**
!ghostty/
!ghostty/**
!nvim/
!nvim/**
!tmux/
!tmux/**
!zsh/
!zsh/**
zsh/.zcompdump
zsh/.zcompdump.*
zsh/.zsh_sessions/*
!zsh/.zsh_sessions/.keep
!themes/
!themes/**
!mise/
!mise/**
tmux/plugins/**
