*
!.gitignore
!.current-theme
!Brewfile
!README.md
!bin/
!bin/**
!git/
!git/**
!ghostty/
!ghostty/**
!nvim/
!nvim/**
!themes/
!themes/**
!mise/
!mise/**
!tmux/
!tmux/**
tmux/plugins/*
!tmux/plugins/
!tmux/plugins/.keep
!zsh/
!zsh/**
zsh/.zcompdump*
zsh/.zsh_sessions/*
!zsh/.zsh_sessions/
!zsh/.zsh_sessions/.keep
