# Genral ignores
.claude/*
tmux/plugins/*
zsh/.zcompdump*
zsh/.zsh_sessions/*
!zsh/.zsh_sessions/.keep
gh/*
!gh/config.yml

# Extensions and overrides for machine specific config
extensions/*
!extensions/zsh/.keep
zed/overrides.json
zed/settings.json
zed/prompts/*.mdb/
zed/prompts/*.mdb/**
